<div class="container">
  <div class="my-3 d-flex justify-content-center" *ngIf="!showAuthForm">
    <button class="btn btn-primary col-3" type="submit" (click)="onLoginSelect()">Login</button>
    <button class="btn btn-primary col-3 mx-3" type="submit" (click)="onSignupSelect()">Sign up</button>
  </div>
  <div class="row" *ngIf="showAuthForm">
      <div class="col-3"></div>
      <div class="col-6 my-3">
          <!-- <div class="alert alert-danger my-3" *ngIf="error">
              <p>{{ error }}</p>
          </div>
          <div class="row" *ngIf="isLoading" style="text-align: center;">
              <app-loading-spinnner></app-loading-spinnner>
          </div> -->
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
              <h4 class="d-flex justify-content-center">{{userExist ? 'Login' : 'Sign up'}}</h4>
              <div class="form-group">
              <label for="email">Enter E-Mail</label>
              <input
                  type="email"
                  id="email"
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email />
              </div>
              <div class="form-group">
              <label for="password">Enter Password</label>
              <input
                  type="password"
                  id="password"
                  class="form-control"
                  ngModel
                  name="password"
                  minlength="6" />
              </div>
              <div class="form-group" *ngIf="!userExist">
                <label for="repassword">Re-Enter Password</label>
                <input
                    type="password"
                    id="repassword"
                    class="form-control"
                    ngModel
                    name="repassword"
                    minlength="6" />
                </div>
                <div class="alert alert-danger my-2" role="alert" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
              <div class="my-3">
              <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{userExist ? 'Login' : 'Sign up'}}</button>
              <button class="btn btn-primary mx-2" type="submit" (click)="onCancel()">Cancel</button>
              </div>
          </form>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="alert alert-secondary col-4" role="alert">
        <h5>Manage page access</h5>
        <ul>
          <li>Email: <p class="fst-italic">management@bsgroup.ch</p></li>
          <li>Password: <p class="fst-italic">management</p></li>
        </ul>
      </div>
    </div>
</div>
