<div class="row my-3">
  <div class="col-3">
    <button class="btn btn-primary btn-sm" (click)="onNewVacationDays(newVacationDays)">
      <i class="bi bi-plus-circle-fill"></i>
    </button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Employee</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Days</th>
      <th scope="col">Fixed</th>
      <th scope="col">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of vacationRequests; let i = index;" [ngClass]="request.status === 'Approved' ? 'table-success' : (request.status === 'Rejected' ? 'table-danger':'table-light')">
      <td>{{request.resourceFullName}}</td>
      <td>{{request.from | date}}</td>
      <td>{{request.to | date}}</td>
      <td>{{request.numOfDays}}</td>
      <td>{{request.fixedPeriod | booleanPipe}}</td>
      <td>{{request.status}}</td>
      <td>
        <span
          class="bi bi-x-circle me-2"
          title="Reject"
          style="cursor: pointer; float: right; font-size: large;"
          [ngClass]="request.status !== 'New' ? 'vacation-action-executed' : 'icon-red'"
          (click)="onRejectRequest(i, confirmation)"></span>
        <span
          class="bi bi-check-circle me-2"
          title="Approve"
          style="cursor: pointer; float: right; font-size: large;"
          [ngClass]="request.status !== 'New' ? 'vacation-action-executed' : 'icon-green'"
          (click)="onApproveRequest(i, confirmation)"></span>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #confirmation>
  <div class="modal-header alert" [ngClass]="approveVacationRequest ? 'alert-success':'alert-danger'">
    <h4 class="modal-title pull-left">{{approveVacationRequest ? 'Approve':'Reject'}}</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>{{approveVacationRequest ? 'Approve':'Reject'}} vacation request for <b>{{processedVacationRequest.resourceFullName}}</b>?</p>
    <button type="button" class="btn btn-primary mx-2" (click)="confirm()">{{approveVacationRequest ? 'Approve':'Reject'}}</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
  </div>
</ng-template>
<ng-template #info>
  <div class="modal-body text-center">
    <p>{{errorMessage}}</p>
  </div>
</ng-template>
<ng-template #newVacationDays>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Vacation Days</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="vacationDaysForm" (ngSubmit)="addNewVacationDays()">
      <div class="mt-3">
        <label for="employee" class="form-label">Employes</label>
          <select
            id="employee"
            formControlName="employee"
            class="form-select form-select-sm">
            <option *ngFor="let resource of resources" [value]="resource.email">{{resource.firstName}} {{resource.lastName}}</option>
        </select>
      </div>
      <div class="mt-3">
        <label for="year" class="form-label">Year</label>
        <input
          id="year"
          type="number"
          class="form-control form-control-sm"
          formControlName="year"
          min="2021" max="2099">
      </div>
      <div class="mt-3">
        <label for="days" class="form-label">Days</label>
        <input
          id="days"
          type="number"
          class="form-control form-control-sm"
          formControlName="days"
          min="1" max="30">
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!vacationDaysForm.valid">Add Days</button>
        <button type="button" class="btn btn-secondary btn-sm ms-3" (click)="cancelNewVacationDays()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
