.icon-green{
  color: green;
}

.icon-red{
  color: red;
}

.approval{
  color: green;
}

.rejection{
  color: red;
}

.vacation-approved{
  color: green!important;
  font-weight: bold;
}

.vacation-rejected{
  color: red!important;
  font-weight: bold;
}

span.vacation-action-executed {
  pointer-events: none;
}
