<!-- Profile picture image-->
<img *ngIf="person" class="img-account-profile rounded-circle mb-2" [src]="person.imgUrl" alt="" width="300" height="300">
<div class="row" *ngIf="!person">
  <img class="img-account-profile rounded-circle mb-2" src="https://deltaclub-interlaken.ch/wp-content/uploads/2019/07/no-avatar.png" alt="" width="300" height="300">
</div>

<!-- Profile picture upload button-->
<button *ngIf="person" class="btn btn-primary" type="button" (click)="onUploadImage()">Upload new image</button>
<div class="row mt-2" *ngIf="uploadImage">
  <div class="col-md-12">
    <input class="form-control" id="uploadImage" placeholder="Enter URL of an image" type="text" value="" #imageUrlELem>
  </div>
  <div class="row">
    <div class="mt-3">
      <button class="btn btn-success" (click)="onImageSave(imageUrlELem)">Save</button>
      <button class="btn btn-danger mx-2" (click)="onImageCancel()">Cancel</button>
    </div>
  </div>
</div>


