<div class="row my-3">
  <div class="col-3">
    <button class="btn btn-primary btn-sm" (click)="onNewResource()" title="New Resource">
      <i class="bi bi-person-plus-fill"></i></button>
  </div>
</div>
<div class="row">
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Level</th>
        <th scope="col">Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let resource of resources; let i = index">
        <tr>
          <td>{{ resource.firstName }}</td>
          <td>{{ resource.lastName }}</td>
          <td>{{ resource.expertiseLevel }}</td>
          <td>{{ resource.email }}</td>
          <td>
            <span class="bi bi-trash-fill me-2" title="Delete" style="cursor: pointer; float: right; font-size: large;" (click)="onDelete(i, template)"></span>
            <span class="bi bi-pencil-square me-2" title="Edit" style="cursor: pointer; float: right; font-size: large;" (click)="onEdit(i)"></span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-header alert alert-dark">
    <h4 class="modal-title pull-left">Confirmation</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Are you sure that you want to delete person: <br><b>{{ resourceToDelete.firstName }} {{resourceToDelete.lastName}}</b>?</p>
    <button type="button" class="btn btn-primary mx-2" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">No</button>
  </div>
</ng-template>
