<form [formGroup]="resourceForm" (ngSubmit)="onSave()" class="bg-light px-3 py-3 my-3">
  <h5>{{editMode ? 'Edit Resource' : 'New Resource'}}</h5>
  <div class="from-group mt-3">
    <input
      id="firstName"
      type="text"
      class="form-control"
      formControlName="firstName"
      placeholder="First Name" aria-label="First Name">
  </div>
  <div class="form-group mt-3">
    <input
      id="lastName"
      type="text"
      class="form-control"
      formControlName="lastName"
      placeholder="Last Name" aria-label="Last Name">
  </div>
  <div class="form-group mt-3">
    <input
      id="expertiseLevel"
      type="text"
      class="form-control"
      formControlName="expertiseLevel"
      placeholder="Expertise Level" aria-label="Expertise Level">
  </div>
  <div class="form-group mt-3">
    <input
      id="email"
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="Email" aria-label="Email">
  </div>
  <div class="row">
    <div class="col-6 my-3">
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!resourceForm.valid">Save</button>
      <button type="button" class="btn btn-secondary btn-sm mx-2" (click)="onCancel()">Cancel</button>
    </div>
  </div>

</form>
<ng-template #editConfirm>
  <div class="modal-body text-center">
    <p>The resource has been updated</p>
  </div>
</ng-template>
