<div class="row gx-3 mb-3">
  <div class="col-md-12">
      <label class="small mb-1" for="inputFirstName">First Name</label>
      <input class="form-control" id="inputFirstName" type="text" value="{{ person ? person.firstName : ''}}" readonly>
  </div>
</div>
<div class="row gx-3 mb-3">
  <div class="col-md-12">
      <label class="small mb-1" for="inputLastName">Last Name</label>
      <input class="form-control" id="inputLastName" type="text" value="{{ person ? person.lastName: ''}}" readonly>
  </div>
</div>
<div class="row gx-3 mb-3">
  <div class="col-md-12">
      <label class="small mb-1" for="inputExpertiese">Expertise Level</label>
      <input class="form-control" id="inputExpertiese" type="text" value="{{ person? person.expertiseLevel: ''}}" readonly>
  </div>
</div>
<div class="row gx-3 mb-3">
  <div class="col-md-12">
      <label class="small mb-1" for="inputEmail">Email</label>
      <input class="form-control" id="inputEmail" type="text" value="{{ person ? person.email : ''}}" readonly>
  </div>
</div>


