<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Available</th>
      <th scope="col">Used</th>
      <th scope="col">Left</th>
    </tr>
  </thead>
  <tbody *ngIf="person">
    <tr *ngFor="let vacation of person.vacation">
      <td>{{vacation.year}}</td>
      <td>{{vacation.daysPerYearAvailable}}</td>
      <td>{{vacation.usedDays}}</td>
      <td>{{vacation.daysLeft}}</td>
    </tr>
  </tbody>
</table>
