<form [formGroup]="projectForm" (ngSubmit)="onSave()" class="bg-light px-3 py-3 my-3">
    <h5>{{editMode ? 'Edit Project' : 'New Project'}}</h5>
    <div class="from-group mt-3">
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Name" aria-label="Name">
    </div>
    <div class="form-group mt-3">
      <input
        id="client"
        type="text"
        class="form-control"
        formControlName="client"
        placeholder="Client" aria-label="Client">
    </div>
    <div class="form-group mt-3">
      <input
        id="startDate"
        type="date"
        class="form-control"
        formControlName="startDate"
        placeholder="Project Start" aria-label="Project Start">
    </div>
    <div class="form-group mt-3">
      <input
        id="endDate"
        type="date"
        class="form-control"
        formControlName="endDate"
        placeholder="Project End" aria-label="Project End">
    </div>
    <div class="form-group mt-3">
      <select
        id="status"
        formControlName="status"
        class="form-select form-select-sm">
        <option [ngValue]="null" selected disabled>Project Status</option>
        <option
          *ngFor="let key of projectStatusKeys"
          [value]="key">{{projectStatuses[key]}}</option>
    </select>
    </div>
    <div class="form-group mt-3" formArrayName="projectMembers">
      <div class="col-6 my-2">
        <button type="button" class="btn btn-secondary btn-sm" (click)="onAddMember()">Add Member</button>
      </div>
      <div class="row"
        *ngFor="let member of projectMembers; let i = index"
        [formGroupName]="i"
        style="margin-top: 10px; margin-left: 10px;">
        <div class="col-10">
          <select
              id="resourceList"
              formControlName="resourceList"
              class="form-select form-select-sm">
              <option
                  *ngFor="let resource of resources; let i = index"
                  [value]="resource.firstName + ' ' + resource.lastName + '-' + resource.id">
                  {{ resource.firstName }} {{ resource.lastName }}
                  </option>
          </select>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteMember(i)">X</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!projectForm.valid">Save</button>
        <button type="button" class="btn btn-secondary btn-sm mx-2" (click)="onCancel()">Cancel</button>
      </div>
    </div>

</form>
<ng-template #editConfirm>
  <div class="modal-body text-center">
    <p>The project has been updated</p>
  </div>
</ng-template>

