<div class="container">
  <accordion [isAnimated]="true" class="mt-3">
    <accordion-group heading="Resources">
      <app-resources></app-resources>
    </accordion-group>
    <accordion-group heading="Projects" class="mt-2">
      <app-projects></app-projects>
    </accordion-group>
    <accordion-group heading="Vacations" class="mt-2">
      <app-manage-vacation></app-manage-vacation>
    </accordion-group>
  </accordion>
</div>

