<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Number of days</th>
      <th scope="col">Fixed</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of vacationRequests" [ngClass]="request.status === 'Approved' ? 'table-success' : (request.status === 'Rejected' ? 'table-danger':'table-light')">
      <td>{{request.from | date}}</td>
      <td>{{request.to | date}}</td>
      <td>{{request.numOfDays}}</td>
      <td>{{request.fixedPeriod | booleanPipe}}</td>
      <td>{{request.status}}</td>
    </tr>
  </tbody>
</table>
