<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Resource Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="rs-active">Home</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated && isManager">
          <a class="nav-link" routerLink="/manage" routerLinkActive="rs-active">Manage</a>
      </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/auth" routerLinkActive="rs-active">Authenticate</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/auth" routerLinkActive="rs-active" (click)="onLogout()">Logout</a>
        </li>
    </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
