/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
  NOTE: ngx-bootstrap components custom style - Changing style on the component's CSS file itself, does not work.
*/
accordion > accordion-group > div > div.panel-heading.card-header.panel-enabled > div > div > button{
  text-decoration: none;
  cursor: pointer;
}

accordion > accordion-group.panel.panel-open * input,
accordion > accordion-group.panel.panel-open * select,
accordion > accordion-group.panel.panel-open * h5,
tabset,
div.modal-content * form,
table
{
  font-size: small;
}


