<div class="row my-3" *ngIf="displayButtons">
  <div class="col-3">
    <button class="btn btn-primary btn-sm" (click)="onNewProject()">
      <i class="bi bi-plus-circle-fill"></i>
    </button>
  </div>
</div>
<div class="row">
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Client</th>
        <th scope="col">Project Start</th>
        <th scope="col">Project End</th>
        <th scope="col">Status</th>
        <th scope="col">Members</th>
        <th *ngIf="displayButtons"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let project of projects; let i = index">
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.client }}</td>
          <td>{{ project.startDate | date }}</td>
          <td>{{ project.endDate | date }}</td>
          <td>{{ project.status }}</td>
          <td>
            <p *ngFor="let member of project.projectMembers">{{member[0]}}</p>
          </td>
          <td *ngIf="displayButtons">
            <span class="bi bi-trash-fill me-2" title="Delete" style="cursor: pointer; float: right; font-size: large;" (click)="onDelete(i, template)"></span>
            <span class="bi bi-pencil-square me-2" title="Edit" style="cursor: pointer; float: right; font-size: large;" (click)="onEdit(i)"></span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-header alert alert-dark">
    <h4 class="modal-title pull-left">Confirmation</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Are you sure that you want to delete <b>{{ projectToDelete.name }}</b>?</p>
    <button type="button" class="btn btn-primary mx-2" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">No</button>
  </div>
</ng-template>
