.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
  font-size: small;
}

.person-email{
  position: absolute;
  right: 29px;
  top: 58px;
  font-size: small;
  font-weight: bold;
  color: darkslateblue;
}
