<div class="container-xl px-4 mt-4">
  <div class="row text-center alert alert-info mx-1" *ngIf="!person; else resourceAdded">
    <h5>Management did not add your profile to the system.</h5>
  </div>
  <ng-template #resourceAdded>
    <div class="row person-email">{{person.email}}</div>
  </ng-template>
  <div class="row mt-5">
      <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">
                  <app-person-image></app-person-image>
              </div>
          </div>
      </div>
      <div class="col-xl-8">
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Vacations
                <button type="button" class="btn btn-secondary btn-circle btn-sm float-end"
                        tooltip="Employee's vacation info"
                        triggers="click">?</button>
            </div>
            <div class="card-body text-center">
              <div class="row" *ngIf="person">
                <div class="col-3">
                  <button class="btn btn-primary float-start btn-sm" (click)="openModal(vacationRequest)">Vacation Request</button>
                </div>
              </div>
              <div class="row mt-3">
                <tabset>
                  <tab heading="Vacation days" id="tab1">
                    <app-vacation></app-vacation>
                  </tab>
                  <tab heading="Vacation requests">
                    <app-vacation-requests></app-vacation-requests>
                  </tab>
                </tabset>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-4">
      <div class="card mb-4">
          <div class="card-header">Personal Details</div>
          <div class="card-body">
            <app-info></app-info>
          </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card mb-4">
          <div class="card-header">Projects
            <button type="button" class="btn btn-secondary btn-circle btn-sm float-end"
            tooltip="Projects in which an employee participates"
            triggers="click">?</button>
          </div>
          <div class="card-body">
            <app-project-list></app-project-list>
          </div>
      </div>
    </div>
  </div>
<ng-template #vacationRequest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vacation Request</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="vacationForm" (ngSubmit)="onVacationRequestSave()">
      <div class="mt-3">
        <label for="start" class="form-label">Start</label>
        <input
          id="start"
          type="date"
          class="form-control form-control-sm"
          formControlName="start">
      </div>
      <div class="mt-3">
        <label for="end" class="form-label">End</label>
        <input
          id="end"
          type="date"
          class="form-control form-control-sm"
          formControlName="end">
      </div>
      <div class="mt-3 form-check">
        <input
          id="fixed-period"
          class="form-check-input"
          type="checkbox"
          formControlName="fixed-period"
          value="">
        <label class="form-check-label" for="fixed-period">
          Fixed period
        </label>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!vacationForm.valid">Send Request</button>
        <button type="button" class="btn btn-secondary btn-sm ms-3" (click)="onVacationCancel()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #info>
  <div class="modal-body text-center bg-warning text-dark">
    <p>{{errorMessage}}</p>
  </div>
</ng-template>
